In [1]:
# necessery libraries
import pandas as pd
import sys
sys.path.insert(0,'../src/utils/')
import general_look_at_data as  GLAD
import cleaning_data as  CLD

In [2]:
# data source must be updated to featsel folder rather than raw
data = pd.read_csv('../data/featsel/Citywide_Survey_featsel.csv')

# Handle Missing data

In [4]:
# Display missing percentages
feature_missing_stats = GLAD.get_feature_missing(data)
feature_missing_stats

,missing_count,missing_percentage,dont_know_percentage,no_response_percentage,technological_error_percentage,prefer_not_to_answer_percentage,not_required_percentage,feature_type
feature,,,,,,,,
school_park_amount_week,3342,0.998805,0.0,0.0,0.0,0.000000,0.000000,float64
work_park_amount_year,3342,0.998805,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_day,3340,0.998207,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_month,3339,0.997908,0.0,0.0,0.0,0.000000,0.000000,float64
school_park_amount_year,3339,0.997908,0.0,0.0,0.0,0.000000,0.000000,float64
...,...,...,...,...,...,...,...,...
school_bike_park,0,0.000000,0.0,0.0,0.0,0.000000,0.997908,int64
school_mode_bike,0,0.000000,0.0,0.0,0.0,0.000000,0.997908,int64
school_mode_taxi,0,0.000000,0.0,0.0,0.0,0.000000,0.998207,int64
school_egress,0,0.000000,0.0,0.0,0.0,0.000000,1.000000,int64
disability_none,0,0.000000,0.0,0.0,0.0,0.060072,0.000000,int64

## Handle Direct Missing Data

In [5]:
# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

# Display result
direct_missing

                          missing_count  missing_percentage
feature
school_park_amount_week            3342            0.998805
work_park_amount_year              3342            0.998805
school_park_amount_day             3340            0.998207
school_park_amount_month           3339            0.997908
school_park_amount_year            3339            0.997908
work_park_amount_week              3334            0.996414
work_park_amount_month             3324            0.993425
work_park_amount_day               3322            0.992827
school_cms_zone                    3224            0.963539
work_cms_zone                      1659            0.495816

In [6]:
# Get the list of columns with more than 75% direct missing values
features_gt75_missing = CLD.filter_direct_missing_columns(direct_missing, None, 0.75)

# Display the feature list
features_gt75_missing

['school_park_amount_week',
 'work_park_amount_year',
 'school_park_amount_day',
 'school_park_amount_month',
 'school_park_amount_year',
 'work_park_amount_week',
 'work_park_amount_month',
 'work_park_amount_day',
 'school_cms_zone']

In [7]:
# Delete all features that has more than 75% of direct missing data
CLD.delete_columns(data, features_gt75_missing)

Current number of columns:  156
Updated number of columns:  147

In [8]:
# Update direct missing data percentages
feature_missing_stats = GLAD.get_feature_missing(data)

# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

In [10]:
# Get the list of columns with less than 75% direct missing values
features_st75_missing = CLD.filter_direct_missing_columns(direct_missing, None, 0)

# Display the feature list
features_st75_missing

['work_cms_zone']

In [11]:
# Fill in the columns with the column's mod value if the proportion of missing data is less than 75%
CLD.fill_by_mode(data, features_st75_missing)

'Provided columns successfully filled by mode value for each column.'

In [13]:
# Update direct missing data percentages
feature_missing_stats = GLAD.get_feature_missing(data)

# Display the direct missing value, which is NaN, For each column with a percentage nonzero.
direct_missing = GLAD.display_direct_missing(feature_missing_stats)

direct_missing

'No Missing Data: NAN type'

In [14]:
# Display final shape from this processing
data.shape

(3346, 147)